

.third{
    margin-top: 5%;
    margin-left: 40%;
}

.section {
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all 1s;
    margin: 1%;
    width: 250px;
  }
  
  .section:hover {
    background-color: #1500ce;
    color: white;
  }
  .photo {
    width: 70%;
    padding: 0 15%;
  }

  .rating2 {
    direction: rtl;
  }
  .rating2 a {
    text-decoration: none;
    font-size: 2em;
    color: orange;
  }

  .Ajout{
    color: white;
    background-color: blue;
    font-size: large;
    font-weight: bold;
    padding: 1%;
    margin-top: 2%;
    cursor: pointer;
  }

  .genre{
    text-transform: uppercase;
  }