.container {
  margin-left: 5%;
  margin: 5%;
  padding-left: 25%;
  padding-right: 15%;
  border-radius: 3%;
  border-bottom: #ce003c solid 3px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 6px 6px 12px #221313;
  color: #1500ce;
  padding: 10px;
  text-align: center;
}
.container h2 {
  font-size: 3rem;
}

input {
  border-bottom: rgb(72, 72, 182) solid;
  border-radius: 25%;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fav {
  text-decoration: none;
  padding-top: 2%;
  font-size: 2em;
  color: #aaa;
  margin-bottom: 1%;
}

.fav:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: rgb(255, 30, 0);
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  transition: all 1s;
  margin: 1%;
  width: 250px;
  background-color: rgb(230, 227, 227);
  border: #ee3b6ed7 solid;
  border-radius: 1%;
}

.section:hover {
  background-color: #1500ce;
  border: #000000d7 solid;
  color: white;
}

.photo {
  width: 70%;
  padding: 0 15%;
}

.photo2 {
  margin-top: 6%;
  width: 70%;
  padding: 0 15%;
}

.section a {
  color: #fa0707;
}

.rating {
  direction: rtl;
  margin-bottom: 1%;
  margin-top: 2%;
}
.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 2em;
  transition: color 0.4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

.rating2 {
  direction: rtl;
}
.rating2 a {
  text-decoration: none;
  font-size: 2em;
  color: orange;
}

.voir {
  text-decoration: none;
}

.bntc {
  margin-bottom: 1%;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.bnte {
  margin-bottom: 1%;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.bnts {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.gen {
  background-color: transparent;
  border: 0;
  font-family: fantasy;
  text-align: center;
  font-size: medium;
  color: red;
}

/* Partie loader */
.loader {
  display: flex;
  justify-content: center;
	align-items: center;
}

.loader > span {
  background-color: red;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: blue;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
